extends layouts/default
block head
  - var title = 'Historique - CTS';
  include includes/head

block content
  div.container-fluid.mt-5
    div.row.justify-content-center
      div.col-10
        div.card.bg-dark.text-white
          div.card-header
            h2.m-0 Historique de mes transactions
          div.card-body
            div.row
              div.col-12
                  table.table.table-striped.table-bordered.table-dark.table-hover
                    thead
                      tr
                        th Nom
                        th Valeur acheté
                        th Valeur en euros
                        th ID de la transaction
                        th Date
                    tbody
                      each historic in data
                        tr
                          th.align-middle #{historic.cryptoName}
                          th.align-middle #{historic.cryptoBoughtValue}
                          th.align-middle #{historic.moneySpent} €
                          th.align-middle #{historic.transactionId}
                          th.align-middle #{historic.transactionDate}
