extends layouts/default
block head
  - var title = 'Login - CTS';
  include includes/head

block content
  div.row.justify-content-center.mt-4.pb-4
    div.col-sm-12.col-md-6
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Login
        div.card-body
          form(method='POST', action='/login')
            input(type="hidden", name="_csrf", value=csrfToken)
            div.form-group
              label(for='pseudo') Username
              input.form-control#pseudo(
              type='text'
              name='pseudo'
              placeholder='JDoe'
              required
              )
              small.form-text.text-muted Your login name
            div.form-group
              label(for='pass') Password
              input.form-control#pass(
              type='password'
              name='pass'
              placeholder='••••••••••••••••••'
              required
              )
              small.form-text.text-muted Never share your password
            button.btn.btn-success(type="submit") Login
            a(href='./sign-up').btn.btn-outline-light.ml-3 Sign Up