extends layouts/default
block content
    div.container
        div.card.bg-dark.text-white
            div.card-body
                h5.card-title Se connecter
                form
                    div.form-group
                        label(for='pseudo') Pseudo
                        input.form-control#pseudo(
                        type='text'
                        name='pseudo'
                        placeholder='Jean'
                        )
                        small.form-text.text-muted Votre pseudo de connexion
                    div.form-group
                        label(for='pass') Mot de passe
                        input.form-control#pass(
                        type='password'
                        name='pass'
                        placeholder='••••••••••••••••••'
                        )
                        small.form-text.text-muted Ne divulgez jamais votre mot de passe
                    button.btn.btn-light Se connecter
                    button.btn.btn-link
                        a(href='./sign-up') S'inscrire