extends layouts/default

block head
  - var title = 'Profile - CTS';
  include includes/head

block content
  div.row.justify-content-center.mt-4.pb-4
    div.col-sm-12.col-md-6
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Profile
        div.card-body
          form(method="POST", action="profile")
            input(type="hidden", name="_csrf", value=csrfToken)
            div.form-group
              label(for='pseudo') Username
              if user
                input.form-control#pseudo(
                type='text'
                name='pseudo'
                placeholder='JDoe'
                value=user.username
                )
              else
                input.form-control#pseudo(
                type='text'
                name='pseudo'
                placeholder='Jean'
                )
              small.form-text.text-muted Your login name
            div.form-group
              label(for='lastPass') Old Password
              input.form-control#lastPass(
              type='password'
              name='lastPass'
              placeholder='••••••••••••••••••'
              )
              small.form-text.text-muted Never share your password (not even the old one)
            div.form-group
              label(for='mail') New mail
              if user
                input.form-control#mail(
                type='mail'
                name='mail'
                placeholder='John.Doe@example.com'
                value=user.email
                )
              else
                input.form-control#mail(
                type='mail'
                name='mail'
                placeholder='John.Doe@example.com'
                )
              small.form-text.text-muted This email must be unique
            div.form-group
              label(for='pass') New Password
              input.form-control#pass(
              type='password'
              name='pass'
              placeholder='••••••••••••••••••'
              )
              small.form-text.text-muted Never share your password
            div.form-group
              label(for='pass') Password (confirmation)
              input.form-control#passConfirm(
              type='password'
              name='passConfirm'
              placeholder='••••••••••••••••••'
              )
              small.form-text.text-muted Type your new password again
            button.btn.btn-light Update