extends layouts/default
block head
  - var title = data.pair + ' - CTS';
  include includes/head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")

block content
  div.row.justify-content-center.mt-5
    div.col-sm-12.col-md-10
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0= data.pair
        div.card-body
          div.card-text
            div.pb-4
              canvas(id=data.id, height="300px")
              script= data.chart
            div.row
              div.col-sm.d-flex
                h3.m-0.align-self-center= data.price
        div.card-footer.text-muted.text-right Mise à jour : #{data.lastUpdate}
  div.row.justify-content-center.mt-4
    div.col-sm-12.col-md-5
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Acheter
        div.card-body
          div.card-text
            form
              .form-group
                label(for='amount-buy') Montant (EUR)
                input#amount-buy.form-control(type='number', placeholder='Combien voulez-vous dépenser ?')
              .form-group
                label(for='price-buy') Prix (#{data.currency})
                input#price-buy.form-control(type='number', placeholder='À quel prix voulez-vous acheter ?', value=data.priceNumber)
              .form-group
                label(for='total-buy') Total en #{data.currency}
                input#total-buy.form-control(type='number', placeholder='Quantité obtenue')
              button.btn.btn-success(type='submit') Acheter
        div.card-footer.text-muted Solde EUR : #{data.balanceEUR}
    div.col-sm-12.col-md-5
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Vendre
        div.card-body
          div.card-text
            form
              .form-group
                label(for='amount-sell') Montant (#{data.currency})
                input#amount-sell.form-control(type='number', placeholder='Combien voulez-vous dépenser ?')
              .form-group
                label(for='price-sell') Prix (#{data.currency})
                input#price-sell.form-control(type='number', placeholder='À quel prix voulez-vous acheter ?', value=data.priceNumber)
              .form-group
                label(for='total-sell') Total en EUR
                input#total-sell.form-control(type='number', placeholder='Quantité obtenue')
              button.btn.btn-success(type='submit') Vendre
        div.card-footer.text-muted Solde #{data.currency} : #{data.balanceCurrency}
  script(src="/js/trade.js")