extends layouts/default
block head
  - var title = data.priceNumber + ' ' + data.pair + ' - CTS';
  include includes/head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")

block content
  div.row.justify-content-center.mt-4
    div.col-sm-12.col-md-10
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0= data.pair
        div.card-body
          div.card-text
            div.pb-4
              canvas(id=data.id, height="300px")
              script= data.chart
            div.row
              div.col-sm.d-flex
                h3.m-0.align-self-center= data.price
        div.card-footer.text-muted.text-right Last Update : #{data.lastUpdate}

  div.row.justify-content-center.mt-4.pb-4
    div.col-sm-12.col-md-5
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Buy
        div.card-body
          div.card-text
            form(method='POST')
              input(type="hidden", name="_csrf", value=csrfToken)
              input(type="hidden", name="action", value='buy')
              input(type="hidden", name="src_currency", value='EUR')
              input(type="hidden", name="dst_currency", value=data.currency)
              .form-group
                label(for='amount-buy') Amount (EUR)
                input#amount-buy.form-control(name='src_value', type='number', placeholder='How much do you want to spend ?', step="any", min=0, required)
              .form-group
                label(for='price-buy') Price (#{data.currency})
                input#price-buy.form-control(type='number', placeholder='At what price do you want to buy ?', value=data.priceNumber, step="any", min=0, disabled, required)
              .form-group
                label(for='total-buy') Total in #{data.currency}
                input#total-buy.form-control(name='dst_value', type='number', placeholder='Quantity obtained', step="any", min=0, required)
              button.btn.btn-success#button-buy(type='submit') Buy
        div.card-footer.text-muted Balance EUR :
          span#balance-eur  #{data.balanceEUR}
    div.col-sm-12.col-md-5.mt-sm-4.mt-md-0
      div.card.bg-dark.text-white
        div.card-header
          h2.m-0 Sale
        div.card-body
          div.card-text
            form(method='POST')
              input(type="hidden", name="_csrf", value=csrfToken)
              input(type="hidden", name="action", value='sell')
              input(type="hidden", name="src_currency", value=data.currency)
              input(type="hidden", name="dst_currency", value='EUR')
              .form-group
                label(for='amount-sell') Amount (#{data.currency})
                input#amount-sell.form-control(name='src_value', type='number', placeholder='How much do you want to spend ?', step="any", min=0, required)
              .form-group
                label(for='price-sell') Price (#{data.currency})
                input#price-sell.form-control(type='number', placeholder='At what price do you want to buy ?', value=data.priceNumber, step="any", min=0, disabled, required)
              .form-group
                label(for='total-sell') Total in EUR
                input#total-sell.form-control(name='dst_value', type='number', placeholder='Quantity obtained', step="any", min=0, required)
              button.btn.btn-success#button-sell(type='submit') Sell
        div.card-footer.text-muted Balance #{data.currency} :
          span#balance-currency  #{data.balanceCurrency}
block foot
  script(src="/js/trade.js")
