extends layouts/default
block head
  - var title = 'Portefeuille - CTS';
  include includes/head

block content
  div.row.justify-content-md-center.mt-5
    div.col-4
      div.card.text-white.bg-dark.col-sm
        div.card-header
          h5 Mon portefeuille CTS
        div.card-body
          each crypto in wallet.cryptos
            div.row
              p BTC : #{crypto.currency_qty}

    div.col-4
      div.card.text-white.bg-dark.col-sm
        div.card-header
          h5 Mon solde
        div.card-body
          div.row
            div.col-4.d-flex
              h4.m-0.align-self-center #{wallet.currency_qty} €
            div.col-8
              a.btn.btn-success.mr-4 Recharger mon compte
              a.btn.btn-success Retrait

  div.row.justify-content-md-center.mt-5
    div.col-8
      div.card.text-white.bg-dark.col-sm
        div.card-header
          h5 Historique de mes transactions
        div.card-body
          div.row
            div.col-12
              table.table.table-striped.table-bordered.table-dark
                thead
                  tr
                    th Nom
                    th Valeur acheté
                    th Valeur en euros
                    th date
                tbody
                  each trade in trading
                    tr
                      th.align-middle #{trade.dst_currency}
                      th.align-middle #{trade.dst_value}
                      th.align-middle #{trade.src_value} #{trade.src_currency}
                      th.align-middle #{trade.date}

